$pink : #99559E;
$yellow : #FEE35D;
$navy : #284656;
$blue : #73CEE1;
$green: #51BE9F;
$white : #FFFFFF;

$flexbox-row-margin : 0px;
$flexbox-column-padding : 0px;

$section-height-small : 600px;
$section-height-large : 800px;
$section-padding : 2em 0em;

$small-screen : 58em;
$medium-screen: 64em;
$large-screen : 70em;

$p-line-height : 1.5em;
$max-width-container : 800px;
$max-width-container-large : 1100px;
