<navbar class="d-navbar">
	<div class="d-navbar__left-side">
		<img class="d-navbar__left-side__logo" ng-src="app/assets/images/1x/logobeta_big.png">
	</div>
	<div class="d-navbar__right-side">
		<div class="d-navbar__right-side__mobile-button">
			<img ng-src="app/assets/images/1x/hamburger_menu_white@1x.png">
		</div>
		<div class="d-navbar__right-side__menu-item"> How it works</div>
		<div class="d-navbar__right-side__menu-item"> Pricing </div>
		<div class="d-navbar__right-side__menu-item"> FAQ </div>
		<div class="d-navbar__right-side__menu-item"> Shop </div>
		<div class="d-navbar__right-side__menu-item d-navbar__right-side__menu-item--last d-navbar__right-side__menu-item--cta">
			<button class="d-btn"> Create your filter </button>
		</div>
	</div>
</navbar>
