<section class="d-section d-section--no-padding">
	<div class="hero-background-wrapper">
		<div class="hero-background-wrapper__filter"></div>
		<img class="hero-background-wrapper__image" ng-src="app/assets/images/1x/hero_background_gym.png">
	</div>

	<disco-navbar></disco-navbar>

	<div class="hero-wrapper">
		<div class="hero-wrapper__left-side">
			<!-- <img class="hero-wrapper__left-side__iphone-img" src="http://placehold.it/400x800"> -->
		</div>
		<div class="hero-wrapper__right-side">
			<h1 class="hero-wrapper__right-side__title"> We design geofilters for fitness centers </h1>
			<button class="d-btn d-btn--yellow"> Create your filter </button>
		</div>
	</div>
</section>


<section class="d-section section-video">
	<h1 class="d-section__title">Why your fitness center needs a geofilter </h1>
	<div class="d-section__separator"></div>
</section>


<section class="d-section section-what">
	<div class="section-what__left-side">
		<h1 class="d-section__title">Why your fitness center needs a geofilter </h1>
		<div class="d-section__separator"></div>
		<p class="section-what__left-side__body-text d-section__text-medium">
			Snapchat geofilters are location-based graphics that consumers can place over their photo. They are a fun way to spice up pictures and let  friends known exactly where you’re snapping from.<br><br>Geofilters are major marketing opportunity for brands and retailers to increase visibility and social proof.
		</p>
	</div>
	<div class="section-what__right-side">
		<img class="section-what__right-side__iphone-img" src="http://placehold.it/200x400">
	</div>
</section>


<section class="d-section section-how">
	<div class="section-how__header">
		<h1 class="d-section__title">How it works</h1>
		<div class="d-section__separator d-section__separator--blue"></div>
	</div>
	<div class="section-how__steps">
		<div class="section-how__steps__item">
			<span class="section-how__steps__item__number">1</span>
			<p class="section-how__steps_item__text">Want your own geofilters? Contact one of our account representative and order your geofilter</p>
		</div>
		<div class="section-how__steps__item">
			<span class="section-how__steps__item__number">2</span>
			<p class="section-how__steps_item__text">Our team of professionnal designers analyze your fitness center and create the perfect  geofilter for you</p>
		</div>
		<div class="section-how__steps__item">
			<span class="section-how__steps__item__number">3</span>
			<p class="section-how__steps_item__text">You receive your custom geofilters and our support team guide you through the process of submitting it to Snapchat</p>
		</div>
	</div>
	<div class="section-how__cta">
		<p> Want your geofilters ready for Tuesday </p>
		<button class="d-btn d-btn--yellow"> Order it now</button>
	</div>
</section>


<section class="d-section section-geofilters">
	<div class="section-how__header">
		<h1 class="d-section__title">How it works</h1>
		<div class="d-section__separator d-section__separator--blue"></div>
	</div>
	<div class="section-geofilters__geofilters">
		<div class="section-geofilters__geofilters__carousel">
			<div class="section-geofilters__geofilters__carousel__item"></div>
			<div class="section-geofilters__geofilters__carousel__item"></div>
			<div class="section-geofilters__geofilters__carousel__item"></div>
			<div class="section-geofilters__geofilters__carousel__item section-geofilters__geofilters__carousel__item--last"></div>
		</div>
		<div class="section-geofilters__geofilters__indicators"></div>
	</div>
</section>


<section class="d-section section-reviews">
	<div class="section-reviews__left-side">
		<img class="section-reviews__left-side__iphone-img" src="http://placehold.it/200x400">
	</div>
	<div class="section-reviews__right-side">
		<div class="section-reviews__right-side__header">
			<img src="http://placehold.it/400x100">
			<h2 class="d-section__text-medium">129+ five stars reviews from fitness centers owners</h2>
		</div>
		<div class="section-reviews__right-side__reviews">
			<p class="section-reviews__right-side__reviews__text">Awesome service, my geofilters were delivered in less than 2 days. My customers can’t get enough of them</p>
			<img class="section-reviews__right-side__reviews__author-img" src="">
			<p class="section-reviews__right-side__reviews__author-text">Sophia McMurray, owner of Crossfit St-James</p>

			<p class="section-reviews__right-side__reviews__text">Awesome service, my geofilters were delivered in less than 2 days. My customers can’t get enough of them</p>
			<img class="section-reviews__right-side__reviews__author-img" src="">
			<p class="section-reviews__right-side__reviews__author-text">Sophia McMurray, owner of Crossfit St-James</p>
		</div>
	</div>
</section>



<section class="d-section section-pricing">
	<div class="section-pricing__header">
		<h1 class="d-section__title">Our pricing plan</h1>
		<div class="d-section__separator d-section__separator--blue"></div>
	</div>
	<div class="section-pricing__plans">
		<div class="section-pricing__plans__item">
			<div class="section-pricing__plans__item__recommended">&nbsp;</div>
			<div class="section-pricing__plans__item__price">540 <span class="section-pricing__plans__item__price__dolar-sign">$</span></div>
			<div class="section-pricing__plans__item__include">What's included</div>
			<div class="section-pricing__plans__item__body"> 3 custom geofilters <br> 5-colours designs <br> 3-days delivery </div>
			<div class="section-pricing__plans__item__cta"> <button class="d-btn">Start Now</button></div>
		</div>
		<div class="section-pricing__plans__item section-pricing__plans__item--middle">
			<div class="section-pricing__plans__item__recommended">Recommended</div>
			<div class="section-pricing__plans__item__price">980 <span class="section-pricing__plans__item__price__dolar-sign">$</span></div>
			<div class="section-pricing__plans__item__include">What's included</div>
			<div class="section-pricing__plans__item__body"> 3 custom geofilters <br> 5-colours designs <br> 3-days delivery </div>
			<div class="section-pricing__plans__item__cta section-pricing__plans__item__cta--middle"> <button class="d-btn">Start Now</button></div>
		</div>
		<div class="section-pricing__plans__item section-pricing__plans__item--last">
			<div class="section-pricing__plans__item__recommended">&nbsp;</div>
			<div class="section-pricing__plans__item__price">1990 <span class="section-pricing__plans__item__price__dolar-sign">$</span></div>
			<div class="section-pricing__plans__item__include">What's included</div>
			<div class="section-pricing__plans__item__body"> 3 custom geofilters <br> 5-colours designs <br> 3-days delivery </div>
			<div class="section-pricing__plans__item__cta"> <button class="d-btn">Start Now</button></div>
		</div>
	</div>
</section>



<section class="d-section section-faq">
	<div class="section-faq__header">
		<h1 class="d-section__title">FAQ</h1>
		<div class="d-section__separator d-section__separator"></div>
	</div>
	<div class="section-faq__body">
		<div class="section-faq__body__item">
			<p class="section-faq__body__item__question">Why should I choose Discoshare?</p>
			<p class="section-faq__body__item__answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, soluta! Saepe, unde earum ut fuga, sint id ab adipisci consequatur, officia pariatur modi consequuntur, molestias cupiditate cum nobis quo voluptatum.</p>
		</div>
		<div class="section-faq__body__item">
			<p class="section-faq__body__item__question">Why should I choose Discoshare?</p>
			<p class="section-faq__body__item__answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam similique dignissimos voluptatem commodi perferendis dolorum aperiam temporibus quis eos? Blanditiis architecto, rerum ipsum! Id ipsa vero soluta doloribus quo delectus.</p>
		</div>
		<div class="section-faq__body__item">
			<p class="section-faq__body__item__question">Why should I choose Discoshare?</p>
			<p class="section-faq__body__item__answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa pariatur repudiandae animi, reiciendis repellat quia numquam iste explicabo voluptate expedita eaque ut nesciunt obcaecati labore velit nam consectetur temporibus aliquam.</p>
		</div>
		<div class="section-faq__body__item">
			<p class="section-faq__body__item__question">Why should I choose Discoshare?</p>
			<p class="section-faq__body__item__answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam blanditiis magni, necessitatibus ea quisquam velit temporibus voluptatum quam numquam laborum consequuntur ratione maxime maiores nemo earum voluptas perspiciatis, eos! Minima!</p>
		</div>
	</div>
</section>


<section class="d-section section-last">
	<div class="section-last__header">
		<h1 class="d-section__title">Your competitor may already have it</h1>
		<div class="d-section__separator d-section__separator"></div>
	</div>
	<div class="section-last__body">
		<button class="d-btn d-btn--yellow">Get yours right now</button>
	</div>
</section>
